body {
    font-family: Khand;
    background: #17181A;
}

html {
    scroll-behavior: smooth;
}

.container {
    text-align: right;
    margin-right: 70px;
    font-size: 35px;
}

.menu li{
    display: inline-block;
    margin-left: 70px;
    margin-top: 25px;
}

.menu li a{
    transition-duration: 0.5s;
    color: #EDEDED;
}

.menu li a:hover{
    color: #40BA21;
}

.photo_first {
    position: absolute;
    margin-left: 106px;
    width: 537px;
    height: 775px;
}

#first-page {
    width: 1920px;
    height: 1080px;
}
.container_first-page{
    position: relative;
}

.all-text {
    color: #EDEDED;
}

.top_text {
    position: absolute;
    top: 372px;
    left: 824px;
    font-size: 70px;
}

.medium_text {
    position: absolute;
    top: 445px;
    left: 824px;
    font-size: 90px;
}

span {
    color: #40BA21;
}

.final_text {
    position: absolute;
    top: 556px;
    left: 1073px;
    font-size: 70px;
}

.container_second-page {
    position: relative;
}

#second-page {
    background-color: #EDEDED;
    width: 1920px;
    height: 1080px;}


.title-text-1 {
    position: absolute;
    top: 71px;
    left: 74px;
    color: #40BA21;
    font-size: 70px;
}

.page-text {
    position: absolute;
    text-align: justify;
    width: 1021px;
    top: 280px;
    left: 74px;
    color: #17181A;
    font-size: 40px;
}

.photo_second {
    position: absolute;
    width: 521px;
    height: 782px;
    left: 1247px;
    right: 152px;
    top: 149px;
}

.logo_second ul{
    position: absolute;
    left: 74px;
    top: 735px;
}

.logo_second li{
    display: inline-block;
    margin-right: 100px;
}

.container_third-page div{
    position: absolute;
}

#third-page {
    background-color: #17181A;
    width: 1920px;
    height: 1080px;
}

.title-text-2 {
    width: 310px;
    height: 98px;
    top: 86px;
    color: #EDEDED;
    font-size: 70px;
    padding: 0px 3px 20px 74px;
    background-color: #40BA21;
    border: none;
}

.htmlcss div{
    position: absolute;

}

.logo_html {
    top: 274px;
    left: 114px;
    width: 176px;
    height: 177px;
}

.text-html {
    font-size: 50px;
    top: 274px;
    left: 310px;
    color: #EDEDED;
}

.text-html2 {
    font-size: 35px;
    top: 379px;
    left: 310px;
    color: #EDEDED;
}


.bar-html {
    left: 310px;
    top: 354px;
    width: 482px;
    height: 15px;
    border: none;
    background-color: #EDEDED;
}

.green-html {
    width: 182px;
    height: 15px;
    border: none;
    background-color: #40BA21;
}

.figma div{
    position: absolute;
}

.text-figma{
    font-size: 50px;
    top: 513px;
    left: 310px;
    color: #EDEDED;
}

.logo_figma{
    top: 523px;
    left: 144px;
    width: 176px;
    height: 177px;
}

.bar-figma {
    width: 482px;
    height: 15px;
    top: 588px;
    left: 310px;
    background-color: #EDEDED;
}

.green-figma {
    width: 418px;
    height: 15px;
    border: none;
    background-color: #40BA21;
}

.text-figma2{
    font-size: 35px;
    width: 483px;
    top: 610px;
    left: 310px;
    color: #EDEDED;
}

.ps div{
    position: absolute;
}

.text-ps{
    font-size: 50px;
    top: 765px;
    left: 310px;
    color: #EDEDED;
}

.logo_ps{
    top: 773px;
    left: 145px;
    width: 118px;
    height: 118px;
}

.bar-ps{
    width: 482px;
    height: 15px;
    top: 852px;
    left: 310px;
    background-color: #EDEDED;
}

.green-ps {
    width: 418px;
    height: 15px;
    border: none;
    background-color: #40BA21;
}

.text-ps2{
    font-size: 35px;
    width: 483px;
    top: 879px;
    left: 310px;
    color: #EDEDED;
}

.python div{
    position: absolute;
}

.text-py{
    font-size: 50px;
    top: 274px;
    left: 1145px;
    color: #EDEDED;
}

.logo_python{
    top: 276px;
    left: 978px;
    width: 133px;
    height: 133px;
}

.bar-py{
    width: 482px;
    height: 15px;
    top: 354px;
    left: 1151px;
    background-color: #EDEDED;
}

.green-py {
    width: 369px;
    height: 15px;
    border: none;
    background-color: #40BA21;
}

.text-py2{
    font-size: 35px;
    width: 483px;
    top: 379px;
    left: 1151px;
    color: #EDEDED;
}

.c div{
    position: absolute;
}

.text-c{
    font-size: 50px;
    top: 513px;
    left: 1151px;
    color: #EDEDED;
}

.logo_c{
    top: 523px;
    left: 978px;
    width: 116px;
    height: 127px;
}

.bar-c{
    width: 482px;
    height: 15px;
    top: 582px;
    left: 1151px;
    background-color: #EDEDED;
}

.green-c {
    width: 100px;
    height: 15px;
    border: none;
    background-color: #40BA21;
}

.text-c2{
    font-size: 35px;
    width: 483px;
    top: 610px;
    left: 1151px;
    color: #EDEDED;
}


.java div{
    position: absolute;
}

.text-j{
    font-size: 50px;
    top: 765px;
    left: 1151px;
    color: #EDEDED;
}

.logo_java{
    top: 751px;
    left: 978px;
    width: 133px;
    height: 160px;
}

.bar-j{
    width: 482px;
    height: 15px;
    top: 852px;
    left: 1151px;
    background-color: #EDEDED;
}

.green-j {
    width: 140px;
    height: 15px;
    border: none;
    background-color: #40BA21;
}

.text-j2{
    font-size: 35px;
    width: 483px;
    top: 879px;
    left: 1151px;
    color: #EDEDED;
}

#fourth-page {
    background-color: #EDEDED;
    width: 1920px;
    height: 1080px;
}
.container_fourth-page{
    position: relative;
}

.fourth-page-background div{
    position: absolute;
}

.title-text-4 {
    top: 71px;
    left: 74px;
    color: #40BA21;
    font-size: 70px;
}

.school-degree {
}

.logo-cap{
    left: 128px;
    top: 320px;
    width: 90px;
    height: 90px;
}

.arrow-first {
    left: 762px;
    top: 372px;
    width: 161px;
    height: 90px;
}

.edu-text1 {
    width: 453px;
    top: 307px;
    left: 272px;
    color: #17181A;
    font-size: 40px;
}

.logo-book {
    left: 132px;
    top: 662px;
    width: 96px;
    height: 96px;
}

.edu-text2 {
    width: 480px;
    top: 307px;
    left: 976px;
    color: #17181A;
    font-size: 40px;
}

.arrow-second {
    left: 762px;
    top: 697px;
    width: 161px;
    height: 90px;
}

.edu-text3 {
    width: 440px;
    top: 647px;
    left: 272px;
    color: #17181A;
    font-size: 40px;
}

.edu-text4 {
    width: 320px;
    top: 647px;
    left: 976px;
    color: #17181A;
    font-size: 40px;
}

.arrow-third {
    left: 1337px;
    top: 697px;
    width: 161px;
    height: 90px;
}

.edu-text5 {
    width: 250px;
    top: 647px;
    left: 1543px;
    color: #17181A;
    font-size: 40px;
}

.title-text-5 {
    width: 410px;
    height: 98px;
    top: 86px;
    color: #EDEDED;
    font-size: 70px;
    padding: 0px 3px 20px 74px;
    background-color: #40BA21;
    border: none;
}

#fifth-page {
    background-color: #17181A;
    width: 1920px;
    height: 1080px;
}

.container_fifth-page{
    position: relative;
}

.fifth-page-background div{
    position: absolute;
}

.portfolio-list ul{
    position: absolute;
}

.portfolio-list li{
    display: inline-block;
    margin-right: 219px;
}

.disk-portfolio {
    width: 404px;
    top: 313px;
    left: 135px;
    height: 276px;
    border: solid;
    border-radius: 25px;
    border-width: 8px;
    border-color: #EDEDED;
    padding: 63px 127px 63px 127px;
}

.devart-portfolio {
    top: 313px;
    left: 768px;
    width: 404px;
    height: 276px;
    border: solid;
    border-radius: 25px;
    border-width: 8px;
    border-color: #EDEDED;
    padding: 95px 35px 95px 35px;
}

.figma-portfolio {
    top: 313px;
    left: 1381px;
    width: 404px;
    height: 276px;
    border: solid;
    border-radius: 25px;
    border-width: 8px;
    border-color: #EDEDED;
    padding: 54px 142px 46px 143px;
}

.text-portf-disk {
    font-size: 40px;
    width: 392px;
    top: 637px;
    left: 139px;
    color: #EDEDED;
}

.text-portf-devart {
    font-size: 40px;
    width: 392px;
    top: 637px;
    left: 770px;
    color: #EDEDED;
}

.text-portf-figma {
    font-size: 40px;
    width: 392px;
    top: 637px;
    left: 1384px;
    color: #EDEDED;
}

#sixth-page {
    background-color: #EDEDED;
    width: 1920px;
    height: 1080px;
}

.container_sixth-page{
    position: relative;
}

.sixth-page-background div{
    position: absolute;
}

.title-text-6 {
    top: 71px;
    left: 74px;
    color: #40BA21;
    font-size: 70px;
}

.messengers {
    position: absolute;
}

.logo-tg {
    width: 66px;
    height: 66px;
    left: 92px;
    top: 260px;

}

.text-tg {
    width: 66px;
    left: 185px;
    top: 248px;
    font-size: 35px;
    color: #818286;
}

.alias-tg {
    width: 66px;
    left: 185px;
    top: 293px;
    font-size: 30px;
    color: #40BA21;
}

.logo-wa {
    width: 66px;
    height: 66px;
    left: 92px;
    top: 393px;

}

.text-wa {
    width: 66px;
    left: 185px;
    top: 381px;
    font-size: 35px;
    color: #818286;
}

.alias-wa {
    width: 66px;
    left: 185px;
    top: 426px;
    font-size: 30px;
    color: #40BA21;
}

.logo-gm {
    width: 66px;
    height: 66px;
    left: 92px;
    top: 529px;

}

.text-gm {
    width: 66px;
    left: 185px;
    top: 514px;
    font-size: 35px;
    color: #818286;
}

.alias-gm {
    width: 66px;
    left: 185px;
    top: 559px;
    font-size: 30px;
    color: #40BA21;
}

.textfields {
    position: absolute;
}

.namefield {
    width: 578px;
    height: 72px;
    top: 260px;
    left: 671px;
    border: none;
}

.namearea {
    width: 100%;
    height: 72px;
    background: #EDEDED;
    border: 4px solid #818286;
    padding: 10px 40px 10px 40px;
    border-radius: 25px;
    font-size: 35px;
    color: #818286;
    resize: none;
}

.mailfield {
    width: 578px;
    height: 72px;
    top: 260px;
    left: 1275px;
    border: none;
}

.mailarea {
    width: 100%;
    height: 72px;
    background: #EDEDED;
    border: 4px solid #818286;
    padding: 10px 40px 10px 40px;
    border-radius: 25px;
    font-size: 35px;
    color: #818286;
    resize: none;
}

.commfield {
    width: 1180px;
    height: 411px;
    top: 377px;
    left: 671px;
    border: none;
}

.commarea {
    width: 1180px;
    height: 411px;
    padding: 10px 40px 10px 40px;
    background: #EDEDED;
    border: 4px solid #818286;
    border-radius: 25px;
    font-size: 35px;
    color: #818286;
}

/*.submission {*/
/*    width: 309px;*/
/*    height: 72px;*/
/*    top: 818px;*/
/*    left: 671px;*/
/*    font-size: 35px;*/
/*    border-radius: 25px;*/
/*    color: #EDEDED;*/
/*    padding: 10px 107px 10px 107px;*/
/*    background: #40BA21;*/
/*}*/

.bottom-line {

    top: 985px;
    width: 100%;
    border-top: 1px solid #818286;
}

.reserved {
    color: #818286;
    left: 77px;
    top: 1011px;
    font-size: 30px;
}

.vklogo {
    width: 40px;
    height: 40px;
    color: #818286;
    left: 824px;
    top: 1011px;
}

.walogo {
    width: 40px;
    height: 40px;
    color: #818286;
    left: 923px;
    top: 1011px;
}

.tglogo {
    width: 40px;
    height: 40px;
    color: #818286;
    left: 1022px;
    top: 1011px;
}

.gmlogo {
    width: 49px;
    height: 40px;
    color: #818286;
    left: 1121px;
    top: 1011px;
}

.designby {
    left: 1560px;
    top: 1011px;
    color: #818286;
    font-size: 30px;
}